.about-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #eee;
    color: #000;
    display: flex;
    justify-content: space-between;
}
.about-left {
    flex: 1;
    display: flex;
}
.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about-right > h1{
    margin-top: 50px;
    margin-left: 20px;
} 
.about-right > h2{
    margin-top: 10px;
    margin-left: 20px;
} 
.about-right > h3{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
} 
.about-right-div {
    width: 550px;
    height: 40vh;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.about-right-div-left {
    flex: 1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.about-right-div-left >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.about-right-div-right {
    flex: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.about-right-div-right > h3{
    margin-left: 10px;
    margin-top: 50px;
}
.about-right-div-right > h4{
    margin-left: 10px;
    margin-top: 10px;
}
.about-right-div-right > h4 >span:hover{
    margin-left: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.about-left-left {
    width: 300px;
    height: 50vh;
    background-color: rgb(48, 46, 46);
    color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 100px;
}
.about-left-right {
    width: 300px;
    height: 50vh;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    transform: translateX(-200px);
}
.about-left-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



@media screen and (max-width: 960px) {
    .about-container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: #eee;
        color: #000;
        display: flex;
        flex-direction: column;
    }
    .about-left {
        display: flex;
    }
    .about-right {
        display: flex;
        flex-direction: column;
    }
    .about-right > h1{
        margin-top: 20px;
        margin-left: 20px;
    } 
    .about-right > h2{
        margin-top: 10px;
        margin-left: 20px;
    } 
    .about-right > h3{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 50px;
    } 
    .about-right-div {
        width: 100%;
        height: 80vh;
        margin-left: 20px;
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .about-right-div-left {
        width: 50%;
        height: 50vh;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .about-right-div-left >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .about-right-div-right {
        width: 100%;
        min-height: 30vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    .about-right-div-right > h3{
        margin-left: 10px;
        margin-top: 50px;
    }
    .about-right-div-right > h4{
        margin-left: 10px;
        margin-top: 10px;
    }
    .about-left-left {
        width: 200px;
        height: 20vh;
        background-color: rgb(48, 46, 46);
        color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 100px;
    }
    .about-left-right {
        width: 200px;
        height: 20vh;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        margin-top: 60px;
        transform: translateX(-200px);
    }
    .about-left-right > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       border-radius: 10px;
    }
}